<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ details.groom }} {{ details.weds }} {{ details.bride }}</title>
  <base href="/">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@800&family=Yellowtail&family=Tangerine:wght@700&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Lato:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ paths.styles }}/styles.css"/>
</head>
<body>
  {# content #}
  {% block baseContent %}
    {{ content | safe }}
  {% endblock baseContent %}
  {# content #}
</body>
</html>