.banner {
  position: relative;

  blockquote, .title {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 1;
  }

  blockquote {
    top: 30px;
    font-family: 'Tangerine', cursive;
    font-size: 2.5rem;
    text-shadow: 1px 1px 3px black;
  }

  .bg-img {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
  }

  .title {
    bottom: 30px;
    font-size: 3rem;
    text-shadow: 2px 2px 5px black;

    .bride, .groom {
      font-family: 'Open Sans', sans-serif;
    }

    .weds {
      font-family: 'Dancing Script', cursive;
    }
  }
}

@media (min-width: $smMinWidth) {
  .banner {
    blockquote {
      font-size: 3rem;
    }

    .title {
      font-size: 3.25rem;
    }
  }
}

@media (min-width: $mdMinWidth) {
  .banner .title {
    font-size: 4.25rem;
  }
}

@media (max-width: $lgMaxWidth) {
  .banner .bg-img {
    width: 100%;
  }
}

@media (min-width: $xlMinWidth) {
  .banner {
    overflow: hidden;

    .title {
      right: 30px;
      text-align: right;

      span {
        display: block;
      }
    }

    .bg-img {
      position: absolute;
    }

    .img-banner2 {
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
    }
  }
}
