$contentSpacing: 30px;

@keyframes slideUp {
  from {
    bottom: -100%;
  }

  to {
    bottom: $contentSpacing;
  }
}

@keyframes slideRight {
  from {
    right: -100%;
  }

  to {
    right: $contentSpacing;
  }
}

.banner {
  position: relative;
  overflow: hidden;

  blockquote, .title {
    position: absolute;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: white;
    z-index: 1;
  }

  blockquote {
    top: $contentSpacing;
    font-family: 'Tangerine', cursive;
    text-shadow: 1px 1px 3px black;
  }

  .bg-img {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
  }

  .title {
    text-shadow: 2px 2px 5px black;

    .bride, .groom {
      font-family: 'Open Sans', sans-serif;
    }

    .weds {
      font-family: 'Dancing Script', cursive;
    }
  }
}

@media (min-width: $smMinWidth) {
  .banner {
    blockquote {
      font-size: 3rem;
    }

    .title {
      font-size: 3.25rem;
    }
  }
}

@media (min-width: $mdMinWidth) {
  .banner .title {
    font-size: 4.25rem;
  }
}

@media (max-width: $lgMaxWidth) {
  .banner {
    .title {
      animation: slideUp 1s ease-out 1s forwards;
    }

    .bg-img {
      width: 100%;
    }
  }
}

@media (min-width: $xlMinWidth) {
  .banner {
    .title {
      right: -100%;
      bottom: $contentSpacing;
      text-align: right;
      animation: slideRight 1s ease-out 1s forwards;

      span {
        display: block;
      }
    }

    .bg-img {
      position: absolute;
    }

    .img-banner2 {
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
    }
  }
}
