.banner {
  position: relative;

  .bg-img {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
  }

  .title {
    position: absolute;
    bottom: 30px;
    width: 100%;
    font-size: 3rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;

    .bride, .groom {
      font-family: 'Open Sans', sans-serif;
    }

    .weds {
      font-family: 'Dancing Script', cursive;
    }
  }
}

@media (min-width: $smMinWidth) {
  .banner .title {
    font-size: 3.25rem;
  }
}

@media (min-width: $mdMinWidth) {
  .banner .title {
    font-size: 4.25rem;
  }
}

@media (max-width: $xlMinWidth) {
  .banner .bg-img {
    width: 100%;
  }
}

@media (min-width: $xlMinWidth) {
  .banner {
    overflow: hidden;

    .title {
      right: 30px;
      text-align: right;

      span {
        display: block;
      }
    }

    .bg-img {
      position: absolute;
    }

    .img-banner2 {
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
    }
  }
}
