* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  font-size: 16px;
  line-height: 1;
}

.page-content {
  display: flex;
}

.page-content, .banner, .details {
  box-sizing: border-box;
  min-height: 100%;
}

.banner, .details {
  width: 50%;
  padding: 30px;
}
